name: Bearer
on:
  workflow_dispatch:
  push:
    branches:
      - master
      
permissions:
  contents: read
jobs:
  rule_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Report
        id: report
        uses: bearer/bearer-action@v2
        with:
          scanner: secrets,sast
          api-key: ${{ secrets.BEARER_TOKEN }}
